.flex {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  color: antiquewhite;
}

.input {
  margin-bottom: 30px;
  height: 30px;
  border-radius: 5px;
  background: rgb(100, 79, 79);
  width: 250px;
}

.label {
  color: antiquewhite;
  margin-bottom: 8px;
  font-size: 20px;
}
