.form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  color: antiquewhite;
}

.input {
  margin-bottom: 30px;
  height: 30px;
  border-radius: 5px;
  background: rgb(100, 79, 79);
  width: 250px;
}

.label {
  font-size: 30px;
  color: antiquewhite;
  margin-bottom: 8px;
}
.btn {
  box-sizing: border-box;
  width: 100px;
  margin-left: 12px;
  height: 24px;
  background: rgb(165, 138, 138);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transform: scale(1);
  transition-duration: 300ms;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
  transition-duration: 300ms;
}
